/****** Script de la commande SelectTopNRows à partir de SSMS  ******/
use [TnTMarketDB]

SELECT *  FROM [dbo].[AspNetRoles]

SELECT *  FROM [dbo].[AspNetUserRoles]

SELECT *  FROM [dbo].[AspNetUsers]
SELECT *  FROM [dbo].[AspNetUserLogins]
SELECT *  FROM  [dbo].[AspNetUserClaims]

------------------------------------------


